
[submodule "dependencies/asio"]
	path = dependencies/asio
	url = https://github.com/chriskohlhoff/asio.git
	ignore = dirty
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
[submodule "dependencies/dearimgui"]
	path = dependencies/dearimgui
	url = https://github.com/ocornut/imgui.git
	ignore = dirty
[submodule "dependencies/tinyxml2"]
	path = dependencies/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
	ignore = dirty
[submodule "dependencies/implot"]
	path = dependencies/implot
	url = https://github.com/Guistac/implot.git
	ignore = dirty
[submodule "dependencies/eipscanner"]
	path = dependencies/eipscanner
	url = https://github.com/Guistac/EIPScanner.git
	ignore = dirty
[submodule "dependencies/soem"]
	path = dependencies/soem
	url = https://github.com/Guistac/SOEM.git
