
[submodule "dependencies/asio"]
	path = dependencies/asio
	url = https://github.com/chriskohlhoff/asio.git
	ignore = dirty
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
[submodule "dependencies/dearimgui"]
	path = dependencies/dearimgui
	url = https://github.com/ocornut/imgui.git
	ignore = dirty
[submodule "dependencies/tinyxml2"]
	path = dependencies/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
	ignore = dirty
[submodule "dependencies/implot"]
	path = dependencies/implot
	url = https://github.com/Guistac/implot.git
	ignore = dirty
[submodule "dependencies/soem"]
	path = dependencies/soem
	url = https://github.com/Guistac/SOEM.git
	ignore = dirty
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
[submodule "dependencies/imguinodeeditor"]
	path = dependencies/imguinodeeditor
	url = https://github.com/thedmd/imgui-node-editor.git
	ignore = dirty
[submodule "dependencies/nativefiledialog-extended"]
	path = dependencies/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
	ignore = dirty