
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/dearimgui"]
	path = deps/dearimgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/tinyxml2"]
	path = deps/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "deps/implot"]
	path = deps/implot
	url = https://github.com/Guistac/implot.git
[submodule "deps/soem"]
	path = deps/soem
	url = https://github.com/Guistac/SOEM.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/imguinodeeditor"]
	path = deps/imguinodeeditor
	url = https://github.com/Guistac/imgui-node-editor.git
[submodule "deps/nativefiledialog-extended"]
	path = deps/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "deps/tinyosc"]
	path = deps/tinyosc
	url = https://github.com/Guistac/tinyosc.git
[submodule "deps/openframeworks"]
	path = deps/openframeworks
	url = https://github.com/openframeworks/openFrameworks.git
[submodule "deps/imguicolortextedit"]
	path = deps/imguicolortextedit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "deps/openframeworksAddons/ofxLua"]
	path = deps/openframeworksAddons/ofxLua
	url = https://github.com/Guistac/ofxLua.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/Guistac/glfw.git
