#=== Directories =======

/Build
/build
/out
.vs/
bin/
bin-int/
obj/
logs/

#=== Files ==============

*.user
*.sln
*.vcxproj
*.filters
*.ini
*.json
.DS_store
*.xcodeproj
*.xcworkspace
*.log

CachedData/
CachedProfilesData/
Cookies
Cookies-journal
Network Persistent State
Preferences
TransportSecurity
Trust Tokens
Trust Tokens-journal
User/
machineid
